<html>
    <head>
        <title>Devika's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Devika's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.09.2019, 22:01</p>
            <h2><a href="">My first post</a></h2>
            <p>Oh yeah.............This is really my first blog post
               on my very own blog site.</p>
        </div>

        <div>
            <p>published: 29.09.2019, 22:01</p>
            <h2><a href="">My second post</a></h2>
            <p>Oh my god.............I can't believe
               this. This is really my second blog post
               on my very own blog site.</p>
        </div>
    </body>
</html>
